* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feedback {
    display: none;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 2rem;
    cursor: pointer;
}

.answer {
    display: none;
}

.showItem {
    display: block;
}

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link .feather {
    margin-right: 4px;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.sidebar .sidebar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.35rem;
    padding: 1rem;
    background-color: rgba(68, 66, 66, 0.1);
    position: relative;
}

.sidebar .sidebar-card .sidebar-card-illustration {
    height: 6rem;
}


/* preloader to fecht avilable questions */

.disppear {
    animation: vanish 5s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.item {
    width: 100px;
    height: 100px;
    position: absolute;
}

.item1 {
    background-color: blue;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item1_move 1.8s cubic-bezier(0.6, .01, 0.4, 1) infinite;
}

.item2 {
    background-color: red;
    top: 0;
    right: 0;
    animation: item2_move 1.8s cubic-bezier(0.6, .01, 0.4, 1) infinite;
}

.item3 {
    background-color: yellowgreen;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item3_move 1.8s cubic-bezier(0.6, .01, 0.4, 1) infinite;
}

.item4 {
    background-color: green;
    bottom: 0;
    left: 0;
    animation: item4_move 1.8s cubic-bezier(0.6, .01, 0.4, 1) infinite;
}

@keyframes item1_move {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 100px);
    }
    50% {
        transform: translate(100px, 100px);
    }
    75% {
        transform: translate(100px, 0);
    }
}

@keyframes item2_move {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-100px, 0);
    }
    50% {
        transform: translate(-100px, 100px);
    }
    75% {
        transform: translate(0, 100px);
    }
}

@keyframes item3_move {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -100px);
    }
    50% {
        transform: translate(-100px, -100px);
    }
    75% {
        transform: translate(-100px, 0);
    }
}

@keyframes item4_move {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(100px, 0);
    }
    50% {
        transform: translate(100px, -100px);
    }
    75% {
        transform: translate(0, -100px);
    }
}

.error-container {
    display: none;
}

.showError {
    display: block;
}

.error {
    position: relative;
    top: 50px;
    font-size: 7rem;
    width: 15rem;
}